body,html,#app{
    height: 100%;
    margin:0;
    padding: 0;
    min-width: 1366px;
}
.box-card {
    margin-top: 10px;
     
  }
  .el-cascader-panel {
    height: 200px !important;
    width: 100%;
}
.el-steps{
  margin: 10px;
}
.el-checkbox{
  margin: 0 10px 0 0 !important;
}
.ql-editor{
  min-height: 300px;
}
