body,html,#app{
    height: 100%;
    margin:0;
    padding: 0;
    min-width: 1366px;
}
.box-card {
    margin-top: 10px;
     
  }
  .el-cascader-panel {
    height: 200px !important;
    width: 100%;
}